<div class="" id="masukForum">
  <h1 class="">Masuk Forum</h1>
  <button class="btn btn-success" id="join">Join sekarang</button>
</div>

<div class="row">
  <div class="col-7">
    <div class="card text-left invisible" id="chatCard">
      <div class="card-header">Forum Dsikusi</div>
      <div class="card-body" id="cardBody"></div>
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          id="pesanUser"
          placeholder="write message..."
          aria-label="write message..."
          aria-describedby="button-addon2"
        />
        <button class="btn btn-outline-primary" type="button" id="kirimPesan">
          Kirim
        </button>
      </div>
    </div>
  </div>
</div>
