<div class="" id="masukForum">
  <h1 class="">Masuk Forum</h1>
  <button class="btn btn-success" id="join">Join sekarang</button>
</div>

<div class="card text-center invisible" id="chatCard">
  <div class="card-header">Forum Dsikusi</div>
  <div class="card-body" id="cardBody"></div>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      id="pesanUser"
      placeholder="Recipient's username"
      aria-label="Recipient's username"
      aria-describedby="button-addon2"
    />
    <button class="btn btn-outline-secondary" type="button" id="kirimPesan">
      Kirim
    </button>
  </div>
</div>
